// FONTS
$defult-font-size: 1.6rem;


// COLORS
$primary-color: #3A9ACA;
$primary-color-light: #408ab4;
$primary-color-dark: #34699a;
$white-text-color: #fff;
$grey-text-color: #777;
$grey-text-color-dark: #999;
$dark-shadow: #000;
$gray-background-color: #f7f7f7;
$footer-background-color: #333;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-padding: 3rem;
$gutter-background: #7cfbc4;
$gutter-color: #fff;

// CARDS
$card-background: #F5F7FA;
$card-white: #fff;
$card-border: #434A54;
$card-grey-light: #656D78;
$card-border-radius: .7rem;
$card-alpha-price: #65C163;
$card-beta-price: #31A3D2;
$card-mega-price: #794EB1;
$card-list: #047bf8;
