*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include rwd (largeScreen) {
    font-size: 56.25%;
  }

  @include rwd (phone) {
    font-size: 50%;
  }


  @include rwd (xlScreen) {
    font-size: 75%;
  }

}

body {
  padding: 2rem;


}
