.privacy {
  background: $gray-background-color;
  padding: 10rem 0 45rem;
  text-transform: capitalize;

  @include rwd (phone) {
    padding: 4rem 0 87rem;
  }
}


.plans {
  padding: 7rem 0 55rem;
  background: $primary-color;
  margin-top: -7rem;

  @include rwd (tab) {
    margin-top: -3rem;
    padding: 7rem 0 7rem;
  }

  // skewing to make look like a clip path
  transform: skewY(-5deg);

  // Sellectin all DIRECT (>) cilldrens and un-skewing them by applying the ops value
  & > * {
    transform: skewY(5deg);
  }
}

.contacting {
  padding: 15rem 0;
  background: linear-gradient(to right bottom,
  $primary-color-dark,
  $primary-color-light);
  margin-top: -7rem;
}

.contact {
  background: linear-gradient(105deg,
  rgba($white-text-color, .9) 0%,
  rgba($white-text-color, .9) 50%,
  transparent 50%);
  @include rwd (phone) {
    background: linear-gradient(127deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 59%, transparent 50%)

  }

  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($dark-shadow, .5);
  height: 50rem;

  &__heading {
    text-transform: uppercase;
  }

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
